<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" name="login-spinner" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Iniciando Sesión</p>
</ngx-spinner>
  
  <section>
    <div class="imgBx">
      <img src="https://www.ism.org/images/images/_720x481_fit_center-center_95_none/Radio.jpg" alt="Background img" style="background-position: center;"/>
    </div>
    <div class="contentBx">
        <h1>Music Radio INC.</h1>
      <img class="imgBtw" src="../../../assets/img/ondas-sonoras.png" alt="logo btw" style="width: 50%;
      height: auto;
      object-fit: cover;">
      <div class="formBx">
        <h2>Iniciar Sesión</h2>
        <form [formGroup]="loginForm">
          <div class="inputBx">
            <span>Correo Electrónico</span>
            <input  formControlName="correo" id="mail" type="text" autocomplete="off" />
            <span *ngIf="submitted && f.correo.errors"
              style="color: red; font-size: 12px; font-weight: 600">Debes ingresar un correo válido</span>
          </div>
          <div class="inputBx">
            <span>Contraseña</span>
            <input formControlName="contrasena" id="password" type="password" name="pass" autocomplete="off" />
            <span *ngIf="submitted && f.contrasena.errors"
              style="color: red; font-size: 12px; font-weight: 600">Debes ingresar tu contraseña</span>
          </div>
          <div class="inputBx" (click)="submit()">
            <input type="submit" value="Ingresar" name="" />
          </div>
          <div class="inputBx" routerLink="/register">
            <input type="submit" value="Registrarse" name="" />
          </div>
        </form>
      </div>
    </div>
  </section>
