
<div class="content-user">


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{result.userName}}</mat-card-title>
    <mat-card-subtitle>C.C. {{result.numIdentification}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h2>Datos Personales</h2>
    <p><mat-icon>mail</mat-icon> electrónico: {{result.email}}</p>
    <p><mat-icon>location_city</mat-icon>Ciudad: {{result.city}}</p>
    <p><mat-icon>home_filled</mat-icon> Dirección de residencia: {{result.address}}</p>
    <p><mat-icon>phone</mat-icon>Teléfono: {{result.phoneNumber}}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="warn" (click)="logout()">Salir de la aplicacion</button>
  </mat-card-actions>
</mat-card>
</div>